@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(19, 56, 64);
}
.header_logo {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: rgb(231, 211, 183);
  font-size: 2.5rem;
  text-align: center;
}
