.global_container {
  padding-left: 25px;
  padding-right: 30px;
}
@media (min-width: 1000px) {
  .global_container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 1200px) {
    .global_container {
        padding-left: 300px;
        padding-right: 300px;
    }
}
