.recipe_card {
    cursor: pointer;
}
.recipe_card h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}
.recipe_card h5 {
    margin-top: 15px;
    color: rgb(19, 56, 64);
}
.recipe_card h5::after {
    content: "→"
}
.recipe_card h5:hover {
    text-decoration: underline;
}