@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: 15px 40px;
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(19, 56, 64, 1);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button:hover {
  background-color: rgba(19, 56, 64, 0.8);
}
button:disabled {
  background-color: rgba(19, 56, 64, 0.1);
}
@media (min-width: 100px) {
}
.bg-yellow {
  background-color: rgb(231, 211, 183);
}
/* colours */
/* #133840 */
/* #2B4B40 */
/* #B48C59 */
