* {
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 35px;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  background-color: rgba(19, 56, 64, 0.8);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: rgba(19, 56, 64, 1);
}
button:disabled {
  background-color: rgba(19, 56, 64, 0.1);
}
@media (min-width: 100px) {
  button {
    width: 200px;
  }
}
.bg-yellow {
  background-color: rgb(231, 211, 183);
}
/* colours */
/* #133840 */
/* #2B4B40 */
/* #B48C59 */
